header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    background-color: rgba(233,233,233,.94);
    transition: all 0.3s ease-in;

    .container-fluid{

        .navbar{
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            padding: 10px 0;
            transition: all 0.3s linear;

            .logo{
                display: block;
                max-width: 60px;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease-in;

                .navbar-brand{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        animation: RotateAnimation 10s linear infinite;
                    }
                }
                &:hover{

                    .navbar-brand{

                        img{
                            animation: RotateAnimationHover 10s linear infinite;
                        }
                    }
                }
            }
            .navbar-nav{
                display: flex;
                flex-direction: row;
                gap: 22px;
                width: fit-content;
                margin-left: auto;
                transition: all 0.3s ease-in;
    
                .nav-item{

                    .nav-link{
                        font-size: 16px;
                        color: #555553;
                        font-weight: 500;
                        text-transform: uppercase;
                        opacity: .65;
                        transition: all 0.3s ease-in;

                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
            .btn{
                font-weight: 400;
                text-transform: uppercase;
                margin-left: 22px;
            }
        }
    }
}
.scrolled .header-navbar{
    transition: all 0.3s ease-in;

    .container-fluid{

        .navbar{
            padding: 0px 0;
            transition: all 0.3s linear;

            .logo{
                max-width: 40px;
                transition: all 0.3s ease-in;
            }
            .navbar-nav{
                gap: 18px;
                transition: all 0.3s ease-in;

                .nav-item{

                    .nav-link{
                        transition: all 0.3s ease-in;
                    }
                }
            }
        }
    }
}