header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    background-color: rgba(255, 255, 255);
    transition: all 0.3s ease-in;

    .container{

        .navbar{
            width: 100%;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            padding: 10px 20px;
            transition: all 0.3s ease-in;

            .logo{
                display: block;
                max-width: 60px;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease-in;

                .navbar-brand{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .navbar-nav{
                display: flex;
                flex-direction: row;
                gap: 22px;
                width: fit-content;
                transition: all 0.3s ease-in;
    
                .nav-item{

                    .nav-link{
                        font-size: 20px;
                        color: #03346E;
                        text-transform: uppercase;
                        transition: all 0.3s ease-in;

                        &:hover{
                            color: #6EACDA;
                        }
                    }
                }
            }
        }
    }
}

.scrolled .header-navbar{
    box-shadow: 0px 0px 5px 1px #0ff;
    transition: all 0.3s ease-in;

    .container{

        .navbar{
            padding: 0px 20px;
            transition: all 0.3s ease-in;

            .logo{
                max-width: 40px;
                transition: all 0.3s ease-in;
            }
            .navbar-nav{
                gap: 18px;
                transition: all 0.3s ease-in;

                .nav-item{

                    .nav-link{
                        transition: all 0.3s ease-in;
                    }
                }
            }
        }
    }
}