:root{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
#root{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
html {
    scroll-behavior: smooth;
    height: 100%;
}
body{
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}
.main-content{
    margin-top: 80px;
    transition: all 0.3s ease-in;
}
.scrolled .main-content{
    margin-top: 56px;
    transition: all 0.3s ease-in;
}